<!-- 安全與房源彈跳窗  (使用 Yen 的原始碼) -->
<div class="modal fade" id="noticeModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body m-2">
                <button type="button" class="btn-close mb-2" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="fs-4 fw-bold mb-2">《安全與房源》</div>
                <h4 class="fs-6 mb-5">詳閱房源的重要細節，避免遇到意料之外的情況。</h4>
                <h4 class="fs-5 fw-semibold mb-4">安全注意事項</h4>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">no_stroller</span>
                    <span class="align-middle">不適合兒童和嬰幼兒</span>
                </div>
                <h4 class="fs-5 fw-semibold mt-5 mb-4">安全裝置</h4>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">motion_sensor_active</span>
                    <span class="align-middle">監視攝影機／攝錄裝置</span>
                </div>
                <hr>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">detector_smoke</span>
                    <span class="align-middle">未安裝煙霧警報器</span>
                </div>
                <hr>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">detector_alarm</span>
                    <span class="align-middle">未回報是否有安裝一氧化碳警報器</span>
                </div>
                <h4 class="fs-5 fw-semibold mt-5 mb-4">房源資訊</h4>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">volume_up</span>
                    <span class="align-middle">可能會有噪音</span>
                </div>
                <hr>
                <div class="icon-service-group">
                    <span class="material-symbols-outlined">local_parking</span>
                    <span class="align-middle">房源沒有停車位</span>
                </div>
            </div>
        </div>
    </div>
</div>
