
@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "ForgotPassword";
}


@section endJS {
	<script src="~/js/loginjs/forgotpassword.js"></script>
}
@section headSpace {
    <partial name="_EmptyPartial" />
}
@section footer {
    <partial name="_FooterPartial" />
}
@section phoneNav {
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_PhoneNavLoginPartial" />
    }
    else
    {
        <partial name="_PhoneNavLogoutPartial" />
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg my-5" id="authLogin">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <span class="material-symbols-outlined">
                        lock_open
                    </span>
                    <h3 class="text-center font-weight-light my-4">忘記密碼</h3>
                </div>
                <div class="card-body">
                    <form action="/Login/ForgotPassword" method="post" onsubmit="return validateEmail()">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="UserEmail" name="email" type="email" placeholder="UserEmail" />
                            <label for="UserEmail">請輸入電子信箱</label>
                        </div>
                        <p>寄發重新設定密碼連結至電子信箱。</p>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-success">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
