
@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "ResetPassword";
}


@section endJS {
    <script src="~/js/loginjs/ResetPassword.js"></script>
}
@section headSpace {
    <partial name="_EmptyPartial" />
}
@section footer {
    <partial name="_FooterPartial" />
}
@section phoneNav {
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_PhoneNavLoginPartial" />
    }
    else
    {
        <partial name="_PhoneNavLogoutPartial" />
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg my-5" id="authLogin">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <span class="material-symbols-outlined">
                        restart_alt
                    </span>
                    <h3 class="text-center font-weight-light my-4">重置密碼</h3>
                </div>
                <div class="card-body">
                    <form action="/Login/ResetPassword" method="post" onsubmit="">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="newPassword" />
                            <label for="newPassword">新密碼</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="confirmPassword" />
                            <label for="confirmPassword">確認密碼</label>
                        </div>
                        <p>密碼必須包含至少一個大寫字母、一個小寫字母和一個數字，且最少8個字符。</p>
                        <input type="hidden" name="token" class="form-control" />
                        <input type="hidden" name="time" class="form-control" />
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-success">重置密碼</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
