.section-items .img-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 12px;
}

.section-items img {
    width: 100%;
}

    .img-box .like-btn {
        width: 24px;
        height: 24px;
        position: absolute;
        left: auto;
        right: 20px;
        z-index: 2;
        font-size: 24px;
        cursor: pointer;
        color: #ff385c;
    }

.section-items a {
    display: block;
    text-decoration: none;
    color: #000;
}


.section-items .info-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

    .section-items .info-group span {
        display: block;
        line-height: 19px;
        font-weight: 600;
    }

    .section-items .info-group .info-description {
        color: #333;
        font-weight: 300;
    }

    .section-items .info-group .info-price {
        margin-top: 5px;
    }

    .section-items .info-group span:last-child {
        position: absolute;
        left: auto;
        right: 0;
    }
    .section-items .info-group .info-name {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 90%; 
    }

