h2 span:hover {
    /* border-radius: 50%; */
    background-color: #EBEBEB;
    transition: 0.5s;
    cursor: pointer;
}

a {
    color: black;
}

.mobile-divider {
    background-color: #EBEBEB;
    height: 8px;
}

.rules-more-info,
.safety-more-info {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .room-area {
        border: 1px solid gray;
        border-radius: 20px;
        padding: 25px;
        margin-top: 24px;
        position: sticky;
        top: 120px;
    }

    .room-details,
    .price-details {
        border-bottom: 1.5px solid #DDDDDD;
        margin-bottom: 20px;
    }

    .trip-details,
    .payment-method,
    .cancellation-policy {
        border-bottom: 1.5px solid #DDDDDD;
    }
}
