@*
    一般的footer
*@
@{
}

<footer class="footer-set container">
    <div class="footer-box1">
        <div class="footer-item col-lg-4">
            <p class="footer-item-title">用戶支援</p>
            <ul>
                <li>
                    <a href="#">說明中心</a>
                </li>
                <li>
                    <a href="#">因安全問題而需要協助</a>
                </li>
                <li>
                    <a href="#">OpenCover</a>
                </li>
                <li>
                    <a href="#">反歧視</a>
                </li>
                <li>
                    <a href="#">身心障礙支援</a>
                </li>
            </ul>
        </div>
        <div class="footer-item col-lg-4">
            <p class="footer-item-title">出租房源和舉辦體驗</p>
            <ul>
                <li>
                    <a href="#">在 OpenRoom 上發布房源</a>
                </li>
                <li>
                    <a href="#">專為房東提供的 OpenCover</a>
                </li>
                <li>
                    <a href="#">出租和舉辦體驗的相關資源</a>
                </li>
                <li>
                    <a href="#">社區論壇</a>
                </li>
                <li>
                    <a href="#">房東及體驗達人義務援</a>
                </li>
            </ul>
        </div>
        <div class="footer-item col-lg-4">
            <p class="footer-item-title">OpenRoom</p>
            <ul>
                <li>
                    <a href="#">OpenRoom 新聞中心</a>
                </li>
                <li>
                    <a href="#">全新功能</a>
                </li>
                <li>
                    <a href="#">工作機會</a>
                </li>
                <li>
                    <a href="#">投資人</a>
                </li>
                <li>
                    <a href="#">緊急住宿</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-box2">
        <div class="footer-copyright">
            <span>© 2024 OpenRoom, Inc.</span>
            <span>·</span>
            <a href="#">隱私</a>
            <span>·</span>
            <a href="#">相關條款</a>
            <span>·</span>
            <a href="#">網站地圖</a>
        </div>
        <div class="footer-international-and-icon">
            <i class="fa-solid fa-earth-americas fa-lg"></i>
            <a href="#">繁體中文 (TW)</a>
            <a href="#">$ TWD</a>
            <i class="fa-brands fa-square-facebook fa-lg"></i>
            <i class="fa-brands fa-line fa-lg"></i>
            <i class="fa-brands fa-square-x-twitter fa-lg"></i>
            <i class="fa-brands fa-square-instagram fa-lg"></i>
        </div>
    </div>
</footer>
