@*
    首頁上方的menu區塊
*@
@{
}

<div class="col">
    <div class="menu-btn">
        <a class="nav-link" href="~/Hosting/Today">今天</a>
        <a class="nav-link" href="~/Hosting/Calendar">日曆</a>
        <a class="nav-link" href="~/Hosting/Source">房源</a>
        <a class="nav-link" href="#">收件匣</a>


        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            選單
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item new-feature" href="#">搶先試用</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">預定</a></li>
            <li><a class="dropdown-item" href="#">收入</a></li>
            <li><a class="dropdown-item" href="#">深入分析</a></li>
            <li><a class="dropdown-item" href="~/Hosting/CreateRoom">新建新房源</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">《在地指南》</a></li>
            <li><a class="dropdown-item" href="#">樓覽出租資源</a></li>
            <li><a class="dropdown-item" href="#">與附近的房東交流</a></li>
        </ul>

    </div>
</div>
