@model HostingViewModel
@{
    ViewData["Title"] = "CreateRoom";
    Layout = "_LayoutCreateHosting";
    
}
@section topCSS {
    <!-- CSS  -->
    <link href="~/css/hostingCSS/createRoom.css" rel="stylesheet" />
}


<!--body-->
<form method="post" class="" enctype="multipart/form-data" action="/Hosting/CreateRoom">
   <div id="app">
        <div class="h-100 container1-createInfo" v-show="currentContainer === 1">
        <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-12 col-lg-6 text-start">
                <h1>在 OpenRoom 上展開出租業務很簡單</h1>
            </div>
            <!-- Steps column -->
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 mb-5">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h2>1. 向我們介紹您的房源</h2>
                                <p>請分享一些基本資訊，像是實際位置及可入住的人數。</p>
                            </div>
                            <img class="step-icon ms-3" src="~/images/hosting/step1.webp" alt="Step 1">
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h2>2. 歡迎房客預訂</h2>
                                <p>新增至少 5 張相片，並提供標題與描述，剩下的交給我們就行了。</p>
                            </div>
                            <img class="step-icon ms-3" src="~/images/hosting/step2.webp" alt="Step 2">
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h2>3. 完成設定</h2>
                                <p>請選擇首筆預訂是否只想接待有預訂紀錄的房客，並設定初始價格，然後發布房源。</p>
                            </div>
                            <img class="step-icon ms-3" src="~/images/hosting/step3.webp" alt="Step 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <!--progress bar-->
    <div class="at-the-end">
        <div class="container">
                               
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

            <!-- New back button container -->
            <div class="d-flex justify-content-between mt-3 px-5">
                <div class="back-button-container">                                          
                        <button class="back btn fw-bold" type="button" onclick="window.location.href='/Hosting/Source'">
                            返回
                        </button>
                </div>
                <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                        開始吧
                    </button>
                </div>
            </div>

        </div>
    </div>
    </div>

        <div class="h-100 container2-container2-introduction" v-show="currentContainer === 2">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12 col-lg-6 text-next content">
                    <div>
                        <span>步驟 1</span>
                        <h1>向我們介紹您的房源</h1>
                        <p>在這個步驟中，我們會向你詢問房源類型，以及房客預訂的是整套房源或單獨一個房間。接著，請告訴我們房源位置及可入住的人數。</p>
                    </div>
                </div>
                <!-- Steps column -->
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <img class="step-icon ms-3" src="~/images/hosting/step1.webp" alt="Step 1">
                    </div>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">               
                   
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container3-roomCategory" v-show="currentContainer === 3">
        <div class="container my-5 p-5">
            <div class="col-12 text-center p-3">
                <div>
                    <h1>下列哪項最能確切描述你的房源？</h1>
                </div>
            </div>
            <div class="options-grid justify-content-between text-center w-100 mb-5">
                <div class="option-item">
                        <input type="radio" id="apartment" name="roomCategory" value="apartment" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="apartment" class="option-label">
                        <span class="material-symbols-outlined">
                            apartment
                        </span>
                        <p>公寓</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio"  id="house" name="roomCategory" value="house" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="house" class="option-label">
                        <span class="material-symbols-outlined" data-selected="false">
                            house
                        </span>
                        <p>獨棟</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="home" name="roomCategory" value="home" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="home" class="option-label">
                        <span class="material-symbols-outlined">
                            night_shelter
                        </span>
                        <p>家庭式</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="lux" name="roomCategory" value="lux" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="lux" class="option-label">
                        <span class="material-symbols-outlined">
                            bedroom_parent
                        </span>
                        <p>精品</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="yard" name="roomCategory" value="yard" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="yard" class="option-label">
                        <span class="material-symbols-outlined">
                            home_and_garden
                        </span>
                        <p>莊園</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="villa" name="roomCategory" value="villa" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="villa" class="option-label">
                        <span class="material-symbols-outlined">
                            villa
                        </span>
                        <p>民宿</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="cabin" name="roomCategory" value="cabin" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="cabin" class="option-label">
                        <span class="material-symbols-outlined">
                            cabin
                        </span>
                        <p>小木屋</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="tent" name="roomCategory" value="tent" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="tent" class="option-label">
                        <span class="material-symbols-outlined">
                            camping
                        </span>
                        <p>帳篷</p>
                    </label>
                </div>
                <div class="option-item">
                        <input type="radio" id="camping" name="roomCategory" value="camping" v-model="formData.roomCategory" class="option-input" hidden />
                    <label for="camping" class="option-label">
                        <span class="material-symbols-outlined">
                            airport_shuttle
                        </span>
                        <p>露營車</p>
                    </label>
                </div>

            </div>


        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
                                 
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container4-roomAddress" v-show="currentContainer === 4">
        <div class="container my-5 p-5">
            <div class="container-lg">
                <h1 class="text-center mt-5">確認你的地址</h1>
                <p class="text-center mb-4">只有在房客的預訂確認之後，我們才會分享房源地址。</p>

                <div class="address-form row justify-content-center">
                    <div class="col-12 col-md-6">
                        <form action="">
                            <div class="mb-3">
                                <div class="form-floating mb-2">
                                        <select class="form-select" id="country" aria-label="Country select" v-model="formData.address.country">
                                        <option selected>臺灣 - TW</option>
                                        <!-- ... other options ... -->
                                    </select>
                                    <label for="country">國家</label>
                                </div>
                                <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="streetAddress" placeholder="街道地址" v-model="formData.address.streetAddress">
                                        <label for="streetAddress">街道地址</label>
                                </div>
                                @*  <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="apartment" placeholder="公寓、套房、大樓 ( 如適用 )">
                                <label for="apartment">公寓、套房、大樓 ( 如適用 )</label>
                                </div> *@
                                <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="city" placeholder="城市 / 鎮 / 村" v-model="formData.address.city">
                                        <label for="city">城市</label>
                                </div>
                                <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="district" placeholder="城市 / 鎮 / 村" v-model="formData.address.district">
                                        <label for="district">區域 / 鎮 / 村</label>
                                </div>
                                <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="postalCode" placeholder="郵遞區號 ( 如適用 )" v-model="formData.address.postalCode">
                                        <label for="postCode">郵遞區號 ( 如適用 )</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center mt-3">
                <div class="col-12 col-md-4 d-flex flex-column flex-md-row justify-content-lg-start">
                    <div>
                        <h2>顯示具體位置</h2>
                        <span>清楚讓房客知道房源的所在位置。我們只會在對方預訂之後才分享房源地址。<a href="#">了解詳情</a></span>
                    </div>
                    
                </div>
            </div>

            <!-- Google Map embed -->
            <div class="map-container">
                <!-- Replace 'images/map-sample.jpg' with your actual Google Maps embed link -->
                <img src="~/images/hosting/map-sample.jpg" alt="Map" class="img-fluid">
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">

                @* @await Html.PartialAsync("_ProgressBarPartial", progressBar) *@
                   
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>       

        <div class="h-100 container5-basicInfo" v-show="currentContainer === 5">
        <div class="container-xl my-5 p-5">
            <div class="text-center mb-4">
                <h1>先從基本資訊開始</h1>
                <p class="grey-color fw-bold">能一次入住多少人？</p>
            </div>

            <!-- Stepper Input for each category -->
            <div class="stepper-container">
                <div class="row my-4 align-items-center">
                    <div class="col-6">
                        <span class="fw-bold">房客人數</span>
                    </div>
                    <div class="col-6 text-end">
                            <button class="btn btn-light fw-bold" type="button" @@click="decreaseCount('guestCount')">-</button>
                            @* <input class="form-control mx-2" type="number" min="1" max="99" /> *@
                            <span class="mx-2 fw-bold">{{ formData.guestCount }}</span>
                            <button class="btn btn-light fw-bold" type="button" @@click="increaseCount('guestCount')">+</button>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-6">
                        <span class="fw-bold">臥室</span>
                    </div>
                    <div class="col-6 text-end">
                            <button class="btn btn-light fw-bold" type="button" @@click="decreaseCount('bedrooms')">-</button>
                           @*  <input class="form-control mx-2" type="number"  min="1" max="99" /> *@
                            <span class="mx-2 fw-bold">{{ formData.bedrooms }}</span>
                            <button class="btn btn-light fw-bold" type="button" @@click="increaseCount('bedrooms')">+</button>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-6">
                        <span class="fw-bold">床位</span>
                    </div>
                    <div class="col-6 text-end">
                            <button class="not-minus btn btn-light fw-bold" type="button" @@click="decreaseCount('beds')">-</button>
                            @* <input class="form-control mx-2" type="number"  min="1" max="99" /> *@
                            <span class="mx-2 fw-bold">{{ formData.beds }}</span>
                            <button class="btn btn-light fw-bold" type="button" @@click="increaseCount('beds')">+</button>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-6">
                        <span class="fw-bold">衛浴</span>
                    </div>
                    <div class="col-6 text-end">
                            <button class="not-minus btn btn-light fw-bold" type="button" @@click="decreaseCount('bathrooms')">-</button>
                           @*  <input class="form-control mx-2" type="number"  min="1" max="99" /> *@
                            <span class="mx-2 fw-bold">{{ formData.bathrooms }}</span>
                            <button class="btn btn-light fw-bold" type="button" @@click="increaseCount('bathrooms')">+</button>
                    </div>
                </div>

            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
                                
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container6-beOutstanding" v-show="currentContainer === 6">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12 col-lg-6 text-next content">
                    <div>
                        <span>步驟 2</span>
                        <h1>讓房源脫穎而出</h1>
                        <p>在這個步驟中，請列出房源提供的一些設備與服務，並提供至少 5 張相片。然後再建立標題與描述。</p>
                    </div>
                </div>
                <!-- Steps column -->
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <img class="step-icon ms-3" src="~/images/hosting/step1.webp" alt="Step 1">
                    </div>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
                     
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container7-facilityService" v-show="currentContainer === 7">
        <div class="container my-5 p-5">
            <div class="container ">
                <div class="col-12 text-center p-3">
                    <div>
                        <h1>讓房客知道房源內有提供哪些設備與服務</h1>
                        <h2>你可以在發布房源後新增更多設備與服務。</h2>
                    </div>
                </div>
                <div class="options-grid justify-content-between text-center w-100 mb-5">
                    <div class="option-item">
                            <input type="checkbox" id="wifi" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="wifi" class="option-label">
                            <span class="material-symbols-outlined">
                                wifi
                            </span>
                            <p>wifi</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="tv" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="tv" class="option-label">
                            <span class="material-symbols-outlined">
                                tv
                            </span>
                            <p>電視</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="kitchen" class="option-input" hidden @@change="updateAmenities($event)" />
                            <label for="kitchen" class="option-label">
                            <span class="material-symbols-outlined">
                                cooking
                            </span>
                            <p>廚房</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="laundry" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="laundry" class="option-label">
                            <span class="material-symbols-outlined">
                                local_laundry_service
                            </span>
                            <p>洗衣機</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="parking" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="parking" class="option-label">
                            <span class="material-symbols-outlined">
                                local_parking
                            </span>
                            <p>室內免費停車</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="ac" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="ac" class="option-label">
                            <span class="material-symbols-outlined">
                                ac_unit
                            </span>
                            <p>空調設備</p>
                        </label>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-12 text-center p-3">
                    <div>
                        <h2>房源是否提供任何獨特的設備與服務？</h2>
                    </div>
                </div>
                <div class="options-grid text-center">
                    <div class="option-item">
                            <input type="checkbox" id="pool" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="pool" class="option-label">
                            <span class="material-symbols-outlined">
                                pool
                            </span>
                            <p>游泳池</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="tub" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="tub" class="option-label">
                            <span class="material-symbols-outlined">
                                hot_tub
                            </span>
                            <p>按摩浴缸</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="garden" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="garden" class="option-label">
                            <span class="material-symbols-outlined">
                                outdoor_garden
                            </span>
                            <p>庭院</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="grill" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="grill" class="option-label">
                            <span class="material-symbols-outlined">
                                outdoor_grill
                            </span>
                            <p>烤肉區</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="deck" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="deck" class="option-label">
                            <span class="material-symbols-outlined">
                                deck
                            </span>
                            <p>戶外用餐區</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="fire" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="fire" class="option-label">
                            <span class="material-symbols-outlined">
                                local_fire_department
                            </span>
                            <p>火坑</p>
                        </label>
                    </div>

                </div>
            </div>
            <div class="container my-5">
                <div class="col-12 text-center p-3">
                    <div>
                        <h2>是否備有以下安全設施？</h2>
                    </div>
                </div>
                <div class="options-grid text-center">
                    <div class="option-item">
                            <input type="checkbox" id="smoke" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="smoke" class="option-label">
                            <span class="material-symbols-outlined">
                                detector_smoke
                            </span>
                            <p>煙霧警報器</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="medical" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="medical" class="option-label">
                            <span class="material-symbols-outlined">
                                medical_services
                            </span>
                            <p>急救包</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="alarm" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="alarm" class="option-label">
                            <span class="material-symbols-outlined">
                                detector_alarm
                            </span>
                            <p>一氧化碳警報器</p>
                        </label>
                    </div>
                    <div class="option-item">
                            <input type="checkbox" id="extinguisher" class="option-input" hidden @@change="updateAmenities($event)" />
                        <label for="extinguisher" class="option-label">
                            <span class="material-symbols-outlined">
                                fire_extinguisher
                            </span>
                            <p>滅火器</p>
                        </label>
                    </div>
                </div>
            </div>

            <div class="container d-flex flex-column justify-content-center my-5 p-5">
                <section class="notice text-center">
                    <h2>房源是否有提供以下各項設備與服務？</h2>
                    <div class="d-flex justify-content-between m-5">
                            <label class="text fw-bold" for="cctv" >監視錄影器</label>
                            <input class="w-25" type="checkbox" id="cctv" name="Legals" value="1" @@change="updateAmenities($event)">
                    </div>
                    <div class="d-flex justify-content-between m-5">
                            <label class="text fw-bold" for="weapon">武器</label>
                            <input class="w-25" type="checkbox" id="weapon" name="Legals" value="2" @@change="updateAmenities($event)">
                    </div>
                    <div class="d-flex justify-content-between m-5">
                            <label class="text fw-bold" for="animal">危險動物</label>
                            <input class="w-25" type="checkbox" id="animal" name="Legals" value="3" @@change="updateAmenities($event)">
                    </div>
                </section>
                <section class="rule text-center mt-3">
                    <h2>重要須知</h2>
                    <p>
                        請務必遵守<a href="#">當地法律</a>，並查看 Airbnb 的<a href="#">《反歧視政策》</a>和<a href="#">房客與房東的服務費規定</a>。
                    </p>
                </section>
            </div>


        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
                                  
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>                    

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div> 
               
        <div class="h-100 container8-roomImage" v-show="currentContainer === 8">    
            <div class="container mt-5 p-5">
                <div class="col-12 text-center p-3 m-5">
                    <div id="aboutPic" class="w-100">
                        <div class="editPhoto ">
                            <div class="editPhoto-title">
                                <h1 class="picH2">請上傳5張以上的相片</h1>
                            </div>
                                <!-- 圖片預覽區域 -->
                                <div class="preview">
                                <img v-for="src in formData.imageUrls" :src="src" alt="Image preview" class="img-preview" />
                                </div>
                        </div>
                        <div class="container image-wraper">
                            <div class="row w-100" id="gridDemo">
                                <label class="col-12 col-md-6 col-lg-4 img-box grid-square" for="uploadfile">
                                    <img src="https://www.chanchao.com.tw/digital/images/default.jpg" alt="">
                                    <div class="spinner-border d-none" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </label>
                                <input type="file" accept="image/*" id="uploadfile" class="d-none" @@change="handleFileSelect" multiple name="files">
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>



            <!--progress bar-->
            <div class="at-the-end">
                <div class="container">
                   
                            <div class="progress-wrapper">
                                <div class="progress">
                                    <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                       

                    <!-- New back button container -->
                    <div class="d-flex justify-content-between mt-3 px-5">
                        <div class="back-button-container">
                                <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                                返回
                            </button>
                        </div>
                        <div class="next-button-container">                                
                                <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                                下一步
                            </button>
                        </div>
                    </div>

                </div>
            </div>
                <!-- Hidden input for image URLs -->
               @*  <input type="hidden" name="imageUrls" ref="hiddenInput" :value="imageUrls.join(',')"> *@               
                <input type="hidden" name="imageUrls" ref="hiddenInput" :value="formData.imageUrls && formData.imageUrls.length > 0 ? formData.imageUrls.join(',') : ''">
        

    </div>

        <div class="h-100 container9-roomName" v-show="currentContainer === 9">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h1>為你的房源命名吧</h1>
                    <p>簡短標題的效果最好。別擔心，之後隨時都能變更。</p>
                    <div class="input-text mt-4 mb-3">
                        <textarea class="form-control text-input" v-model="formData.roomName" @@input="saveFormData" placeholder="" rows="10"></textarea>
                            <div class="character-count mt-2">{{ roomNameLength }}/32</div>
                    </div>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
               
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container10-roomDescription" v-show="currentContainer === 10">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h1>撰寫房源描述</h1>
                    <p>請分享你的房源有哪些特點。</p>
                    <div class="input-text mt-4 mb-3">
                            <textarea class="form-control text-input" v-model="formData.roomDescription" @@input="saveFormData" placeholder="待在這間獨特房源的時光將讓你永生難忘。" rows="10"></textarea>
                            <div class="character-count mt-2">{{roomDescriptionLength}}/500</div>
                    </div>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
           
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container11-goingToFinish" v-show="currentContainer === 11">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12 col-lg-6 text-next content">
                    <div>
                        <span>步驟 3</span>
                        <h1>完成並發布</h1>
                        <p>最後，你將選擇預訂設定、設定價格並發布房源。</p>
                    </div>
                </div>
                <!-- Steps column -->
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <img class="step-icon ms-3" src="~/images/hosting/step1.webp" alt="Step 1">
                    </div>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
               
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

        <div class="h-100 container12-roomPrice" v-show="currentContainer === 12">
        <div class="container my-5 p-5">
            <!-- Main content -->
            <div class="price-container text-center">
                <div class="row">
                    <div class="col-12 my-1">
                        <h1>現在來設定價格吧</h1>
                        <p class="text-grey">你可以隨時變更。</p>
                    </div>
                    <div class="col-12 mb-1">
                        <div class="input-group justify-content-center">
                                <button class="minus btn border-0" type="button" @@click="decreasePrice">
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                                <input type="number" class="form-control border" id="priceInput" v-model.number="formData.roomPrice" @@input="saveFormData" min="100" max="99999" placeholder="$100" aria-label="Amount (to the nearest dollar)">                                  
                                <button class="plus btn border-0" type="button" @@click="increasePrice">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                        <p>每晚$</p>
                        <span class="price-tip fw-bold mb-5">與你的房源相似的住宿，價格通常落在 $100 至 $99,999 之間。</span>
                    </div>


                    <div class="col-md-12 col-lg-6 mx-auto mt-1 mb-3">
                        <h5 class="card-title pt-5 fw-bolder mb-3">優惠</h5>
                        <h6 class="text-grey fw-bold mb-3">設定短租折扣，提高獲得新預訂的機率。</h6>
                        <form class=" btn-fa-right btn btn-outline-light w-100 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="button-text">
                                    <span class="text-sale flex-grow-1 fw-bold">房源優惠 向前 3 位房客提供 20% 折扣，有助你更快獲得預訂。</span>
                                    <a href="#" class="learn-more ms-2">了解詳情</a>
                                </div>
                                <input type="checkbox" id="check" class="sale-checkbox me-2">
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
               
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="goToNextContainer">
                            下一步
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
        <div class="h-100 container13-createFinishAndPublish" v-show="currentContainer === 13">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 p-0 left-part">
                    <img src="~/images/hosting/ceo.jpg" alt="ceo" class="img-fluid w-100 h-100">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start text-white right-part" style="background-color: black;">
                    <h1>@Model.MemberName, 恭喜</h1>
                    <p>我們歡迎你加入房東社群這個大家庭。感謝你分享房源，並為房客帶來一流的體驗。</p>
                    <p class="mt-3">OpenRoom 執行長 Irene</p>
                </div>
            </div>
        </div>
        <!--progress bar-->
        <div class="at-the-end">
            <div class="container">
                
                        <div class="progress-wrapper">
                            <div class="progress">
                                <div class="progress-bar one" role="progressbar" :style="{ width: progressBar.ProgressOnePercentage + '%' }" :aria-valuenow="progressBar.ProgressOnePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-dark two" role="progressbar" :style="{ width: progressBar.ProgressTwoPercentage + '%' }" :aria-valuenow="progressBar.ProgressTwoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-info three" role="progressbar" :style="{ width: progressBar.ProgressThreePercentage + '%' }" :aria-valuenow="progressBar.ProgressThreePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                   

                <!-- New back button container -->
                <div class="d-flex justify-content-between mt-3 px-5">
                    <div class="back-button-container">
                            <button class="back btn fw-bold" type="button" @@click="goToPreviousContainer">
                            返回
                        </button>
                    </div>
                    <div class="next-button-container">
                            <button class="next btn btn-dark fw-bold" type="button" @@click="submitForm" onclick="window.location.href='/Hosting/Source'">
                            完成發布
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

</form>


@section endJS {
    <script src="~/lib/js-cookie/js.cookie.js"></script>
    <script src="~/lib/vue/vue.global.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    
    
    <script type="text/javascript">
        var sourceUrl = '@Url.Action("Source", "Hosting")';
    </script>
    <script src="~/js/hostingJS/backSource.js" asp-append-version="true"></script>
    
    
    @*   <script src="~/js/hostingJS/createRoom.js" asp-append-version="true"></script> *@
 
    

        <script>

                // Vue application
                const { createApp } = Vue;

        createApp({
            data() {
                return {
                    currentContainer: 1, // 控制顯示哪個container

                    // 假設我們有一個 formData 對象來存儲表單的所有數據
                    formData: {
                        //roomCategory='',// 正確初始化 formData 屬性(for localstorage)
                        //roomCategory: getCookie('roomCategory') || '', // Load from cookie
                        roomCategory: Cookies.get('roomCategory') || '',

                        address: {
                            country: Cookies.get('country') || '',
                            streetAddress: Cookies.get('streetAddress') || '',
                            city: Cookies.get('city') || '',
                            district: Cookies.get('district') || '',
                            postalCode: Cookies.get('postalCode') || '',
                        },

                        guestCount: parseInt(Cookies.get('guestCount')) || 1,
                        bedrooms: parseInt(Cookies.get('bedrooms')) || 1,
                        beds: parseInt(Cookies.get('beds')) || 1,
                        bathrooms: parseInt(Cookies.get('bathrooms')) || 1,

                        amenities: [], // 存儲選中的設施和服務的ID或名稱

                        // amenityTypes: {
                        //     facility: [],
                        //     service: [],
                        //     safety: []
                        // },

                        imageUrls: [],
                        roomName: Cookies.get('roomName') || '',// 初始化房源名稱
                        roomDescription: Cookies.get('roomDescription') || '',
                        roomPrice: parseFloat(Cookies.get('roomPrice')) || 100,// 初始值100或cookie中的值

                    }, // 用於儲存每個 container 的資料
                    // Include other data properties as needed

                    progressBar: {
                        ProgressOnePercentage: 0,
                        ProgressTwoPercentage: 0,
                        ProgressThreePercentage: 0

                    },

                };

            },
            methods: {

                goToNextContainer() {

                    if (!this.isNextButtonDisabled) {
                        this.currentContainer++;
                        this.calculateProgress();
                        this.saveFormData();// Save when moving to the next container
                    }
                },
                goToPreviousContainer() {
                    //防止currentContainer低於1
                    if (this.currentContainer > 1) {
                        this.currentContainer--;
                        this.calculateProgress();
                    }
                },
                calculateProgress() {
                    // Progress calculation logic here
                    if (this.currentContainer >= 1 && this.currentContainer <= 5) {
                        // 第一階段: 每個 container 增加 8%，總共 5 個 container，所以最大為 48%
                        this.progressBar.ProgressOnePercentage = (this.currentContainer - 1) * (40 / 6);
                        this.progressBar.ProgressTwoPercentage = 0;
                        this.progressBar.ProgressThreePercentage = 0;
                    } else if (this.currentContainer >= 7 && this.currentContainer <= 10) {
                        // 第二階段: 固定第一階段為 40%，第二階段每個 container 增加 10%，總共 5 個 container，所以最大為 40%
                        this.progressBar.ProgressOnePercentage = 40;
                        this.progressBar.ProgressTwoPercentage = (this.currentContainer - 5) * (40 / 5);
                        this.progressBar.ProgressThreePercentage = 0;
                    } else if (this.currentContainer >= 12 && this.currentContainer <= 13) {
                        // 第三階段: 固定第一和第二階段分別為 40% 和 40%，第三階段每個 container 增加 20%，總共 3 個 container，所以最大為 20%
                        this.progressBar.ProgressOnePercentage = 40;
                        this.progressBar.ProgressTwoPercentage = 40;
                        this.progressBar.ProgressThreePercentage = (this.currentContainer - 10) * (20 / 3);
                    }
                },
                loadFormData() {
                    const formDataJson = Cookies.get('formData');
                    if (formDataJson) {
                        this.formData = JSON.parse(formDataJson);
                        console.log("FormData loaded", this.formData);
                    }
                },
                saveFormData() {

                    console.log("Saving formData to cookie", this.formData);
                    const formDataJson = JSON.stringify(this.formData);
                    Cookies.set('formData', formDataJson, { expires: 2 })// Save for 2 days
                    console.log("FormData saved", this.formData);
                },
                submitForm() {
                    // 實際的提交邏輯...

                    //cookie: submission logic using fetch API
                    const submitData = {
                        roomCategory: this.formData.roomCategory,
                        // TODO: Include other formData fields as needed...
                    };
                    fetch('/Hosting/CreateRoom', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(this.formData),
                    })
                        // .then(response => response.json())
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        .then(data => {
                                // Success logic here
                            //console.log('Success:', data);
                                // After a successful response, remove the cookie
                                Cookies.remove('formData');
                                window.location.href = '/Hosting/Source';//redirect to Source page
                        })
                        .catch((error) => {
                            console.error('Submission failed:', error);
                            // TODO: Handle errors here...
                        })
                },
                increaseCount(type) {
                    if (this.formData[type] < 99) { // 假設99是上限
                        this.formData[type]++;
                        this.saveFormData(); // 保存更新後的formData到cookie
                    }
                },
                decreaseCount(type) {
                    if (this.formData[type] > 1) { // 最小值為1
                        this.formData[type]--;
                        this.saveFormData(); // 保存更新後的formData到cookie
                    }
                },
                // updateAmenities(type, event) {
                //     const checked = event.target.checked;
                //     const value = event.target.id;

                //     if (checked) {
                //         // 如果復選框被選中，則添加到相對應的陣列內
                //         this.formData.amenityTypes[type].push(value);
                //     } else {
                //         // 如果取消選中，則從陣列中移除
                //         const index = this.formData.amenityTypes[type].indexOf(value);
                //         if (index > -1) {
                //             this.formData.amenityTypes[type].splice(index, 1);
                //         }
                //     }

                //     this.saveFormData(); // 更新後保存formData到cookie
                // },

                updateAmenities(event) {
                    const checked = event.target.checked;
                    const value = event.target.id; // 假設id直接對應數據庫中的AmentityName或有某種映射關系

                    if (checked) {
                        // 如果復選框被選中，則添加到陣列
                        this.formData.amenities.push(value);
                    } else {
                        // 如果取消選中，則從陣列中移除
                        const index = this.formData.amenities.indexOf(value);
                        if (index > -1) {
                            this.formData.amenities.splice(index, 1);
                        }
                    }

                    this.saveFormData(); // 更新後保存formData到cookie
                },

                initializeCheckboxStates() {
                    this.formData.amenities.forEach((amenityId) => {
                        const checkbox = document.getElementById(amenityId);
                        if (checkbox) {
                            checkbox.checked = true;
                        }
                    });
                },

                handleFileSelect(event) {
                    const files = event.target.files;
                    if (!files.length) return;

                    //Add sweetalert
                    // 检查文件数量是否满足要求
                    if (files.length < 5) {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: '至少需要上傳5張圖片',
                            confirmButtonText: '確定',
                        });
                        return;
                    }
                    // 上傳前提示
                    Swal.fire({
                        title: '圖片上傳中...',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        },
                    });

                    this.formData.imageUrls = []; // 清空先前的圖片URLs

                    //sweetalert
                    let uploadedCount = 0; // 用于跟踪上传完成的图片数量

                    for (let file of files) {
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            // 直接將圖片DataURL新增到imageUrls陣列，用於顯示
                            this.formData.imageUrls.push(e.target.result);


                            //sweetalert
                            // 每读取完成一个文件，就视为一个文件上传完成
                            uploadedCount++;
                            if (uploadedCount === files.length) {
                                // 所有文件都已处理完毕，开始上传逻辑
                                this.uploadImages(files).then(urls => {
                                    if (urls && urls.length > 0) {
                                        this.formData.imageUrls = urls; // 更新formData中的imageUrls
                                        this.$nextTick(() => {
                                            this.$refs.hiddenInput.value = this.formData.imageUrls.join(',');
                                        });
                                        this.saveFormData(); // 保存formData到Cookie

                                        // 上傳成功提示
                                        Swal.fire({
                                            icon: 'success',
                                            title: '上傳成功',
                                            showConfirmButton: false,
                                            timer: 1500,
                                        });
                                    }
                                }).catch(error => {
                                    console.error('上傳失敗:', error);
                                    Swal.fire({
                                        icon: 'error',
                                        title: '上傳失敗',
                                        text: error.toString(),
                                    });
                                });
                            }
                        };

                        reader.readAsDataURL(file);
                    }


                    // // 上傳邏輯 - old without sweetalert
                    // this.uploadImages(files).then(urls => {
                    //     if (urls && urls.length > 0) {
                    //         this.formData.imageUrls = urls; // 更新formData中的imageUrls
                    //         this.$nextTick(() => {
                    //             this.$refs.hiddenInput.value = this.formData.imageUrls.join(',');
                    //         });
                    //         this.saveFormData(); // 保存formData到Cookie
                    //     }
                    // }).catch(error => {
                    //     console.error('上傳失败:', error);
                    // });
                },

                async uploadImages(files) {
                    const formData = new FormData();
                    for (let i = 0; i < files.length; i++) {
                        formData.append('files', files[i]); // 'files' 是後端接收文件的參數名
                    }

                    try {
                        const response = await fetch('/api/UploadImage/upload', { // 修改為我們的上傳 API 端點
                            method: 'POST',
                            body: formData,
                            //注意：當使用 FormData 時，不要設置 'Content-Type' header?!
                            // 瀏覽器會自動設置正確的 'Content-Type' 和邊界?!
                        });
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const urls = await response.json(); // 假設後端返回的是上傳圖片的 URL 陣列
                        this.formData.imageUrls = urls;// 更新formData中的imageUrls
                        // // 更新Cookie
                        // setCookie('imageUrls', JSON.stringify(urls), 2); // 保存2天
                        return urls;
                    } catch (error) {
                        console.error('Error:', error);
                        //return []; // 發生錯誤時返回空陣列
                        throw error; //  拋出錯誤，以便調用方處理
                    }
                },

                increasePrice() {
                    if (this.formData.roomPrice < 99999) { // max
                        this.formData.roomPrice++;
                        this.saveFormData();
                    }
                },
                decreasePrice() {
                    if (this.formData.roomPrice > 100) { // min
                        this.formData.roomPrice--;
                        this.saveFormData();
                    }
                },


            },
            computed: {
                roomNameLength() {
                    // 使用可選鏈操作符安全訪問length屬性
                    return this.formData.roomName?.length || 0;
                },

                roomDescriptionLength() {
                    // 使用可選鏈操作符安全訪問length屬性
                    return this.formData.roomDescription?.length || 0;
                }
            },
            watch: {
                // 'formData.roomCategory'(newVal) {
                //  localStorage.setItem('roomCategory', newVal);

                //cookie
                'formData.roomCategory': function (newVal) {
                    this.saveFormData();// Save to cookie on change// Corrected path
                },
                'formData.roomName': function (newVal, oldVal) {
                    if (newVal !== oldVal) {
                        this.saveFormData();
                    }
                },
                'formData.roomDescription': function (newVal, oldVal) {
                    if (newVal !== oldVal) {
                        this.saveFormData();
                    }
                },
                'formData.roomPrice': function (newVal, oldVal) {
                    if (newVal !== oldVal) {//每當用戶更改房價輸入框中的值時，這個值就會被保存到cookie中，並且在頁面加載時通過loadFormData方法從cookie中加載出來。
                        this.saveFormData();
                    }
                },
            },
            mounted() {
                console.log(this.formData);
                this.calculateProgress();
                this.loadFormData();// Load saved form data when the component is mounted//// Ensure this correctly initializes formData from cookies
                this.$nextTick(() => {
                    // 確保DOM已更新
                    this.initializeCheckboxStates(); // 根據加載的formData初始化復選框的狀態
                });

                // 初始化其他 formData 屬性

            }
        }).mount('#app');

    </script>

    
}
