@{
    Layout = "_Layout";
    ViewData["Title"] = "EasyTable";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">房源Table資訊</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="~/Home/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">房源Table資訊</li>
    </ol>

    <div class="container">
        <div id="app" class="">
            <div class="col-12 d-flex ">
                <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#create-modal">
                    新增
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
            </div>

            <easy-data-table @* v-model:server-options="serverOptions" *@ @* v-model:items-selected="itemsSelected" *@ show-index
                             buttons-pagination @* :server-items-length="serverItemsLength" *@ alternating :headers="headers"
                             :items="items" @* :loading="loading" *@>
                <!-- 使用 slot render 選項自訂 "operation" 欄位的內容 -->
                <template #item-operation="item">
                    <div class="operation-wrapper">
                        <button v-on:click="handleEdit(item)" class="btn btn-primary me-2" data-bs-toggle="modal"
                                data-bs-target="#edit-modal">
                            Edit
                        </button>

                        <button v-on:click="handleDelete(item)" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
                </template>
            </easy-data-table>


            <!-- 新增 Modal-->
            <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <label>RoomName</label>
                                    <input v-model="createData.RoomName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BedroomCount</label>
                                    <input v-model="createData.BedroomCount" class="form-control"
                                           type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BedCount</label>
                                    <input v-model="createData.BedCount" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BathroomCount</label>
                                    <input v-model="createData.BathroomCount" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>RoomCategoryID</label>
                                    <input v-model="createData.RoomCategoryID" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>MemberID</label>
                                    <input v-model="createData.MemberID" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>FixedPrice</label>
                                    <input v-model="createData.FixedPrice" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>CountryName</label>
                                    <input v-model="createData.CountryName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>CityName</label>
                                    <input v-model="createData.CityName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>Street</label>
                                    <input v-model="createData.Street" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>DistrictName</label>
                                    <input v-model="createData.DistrictName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>PostalCode</label>
                                    <input v-model="createData.PostalCode" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" v-on:click="createMethod">新增</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--編輯 Modal -->
            <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <label>RoomName</label>
                                    <input v-model="currentData.RoomName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BedroomCount</label>
                                    <input v-model="currentData.BedroomCount" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BedCount</label>
                                    <input v-model="currentData.BedCount" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>BathroomCount</label>
                                    <input v-model="currentData.BathroomCount" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>RoomCategoryID</label>
                                    <input v-model="currentData.RoomCategoryID" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>MemberID</label>
                                    <input v-model="currentData.MemberID" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>FixedPrice</label>
                                    <input v-model="currentData.FixedPrice" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>CountryName</label>
                                    <input v-model="currentData.CountryName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>CityName</label>
                                    <input v-model="currentData.CityName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>Street</label>
                                    <input v-model="currentData.Street" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>DistrictName</label>
                                    <input v-model="currentData.DistrictName" class="form-control" type="text">
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label>PostalCode</label>
                                    <input v-model="currentData.PostalCode" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" v-on:click="updateMethod">更新</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const App = Vue.createApp({
            components: {
                EasyDataTable: window['vue3-easy-data-table'],
            },
            data() {
                return {
                    createData: {
                        RoomName: '',
                        BedroomCount: 0,
                        BedCount: 0,
                        BathroomCount: 0,
                        RoomCategoryID: 0,
                        MemberID: 0,
                        FixedPrice: 0,
                       
                        CountryName: '',
                        CityName: '',
                        Street: '',
                        DistrictName: '',
                        PostalCode: ''
                    },
                    currentData: {
                        RoomName: '',
                        BedroomCount: 0,
                        BedCount: 0,
                        BathroomCount: 0,
                        RoomCategoryID: 0,
                        MemberID: 0,
                        FixedPrice: 0,
                       
                        CountryName: '',
                        CityName: '',
                        Street: '',
                        DistrictName: '',
                        PostalCode: ''
                    },
                    headers: [
                        { text: "Id", value: "id" },
                        { text: "RoomName", value: "roomName" },
                        { text: "BedroomCount", value: "bedroomCount" },
                        { text: "BedCount", value: "bedCount" },
                        { text: "BathroomCount", value: "bathroomCount" },
                        { text: "RoomCategoryID", value: "roomCategoryID" },
                        { text: "MemberID", value: "memberID" },
                        { text: "FixedPrice", value: "fixedPrice" },
                      
                        { text: "CountryName", value: "countryName" },
                        { text: "CityName", value: "cityName" },
                        { text: "Street", value: "street" },
                        { text: "DistrictName", value: "districtName" },
                        { text: "PostalCode", value: "postalCode" },
                      
                       
                    ],
                    items: [],

                }
            },
            created() {
                this.getAll();
            },
            methods: {
                handleEdit(row) {
                    //this.currentData.Name = row.Name
                    this.currentData = { ...row };
                    // 在這裡執行編輯操作，你可以訪問 row 中的資料
                    console.log('編輯操作，資料為：', this.currentData);
                },
                handleDelete(row) {
                    // 在這裡執行刪除操作，你可以訪問 row 中的資料
                    console.log('刪除操作，資料為：', row);
                },
                createMethod() {
                    // todo: 執行新增操作
                },
                updateMethod() {
                    // todo: 執行更新操作
                },
                getAll() {

                    this.loading = true;
                    // 使用 window.location.origin 獲取當前網站的基本 URL
                    const url = new URL('/api/RoomSourceList', window.location.origin).href;                   
                    axios.get(url)
                        .then(res => {
                            if (res.status === 200) {
                                toastr.success("Data loaded successfully!");
                                console.log("Loaded data:", res.data); // Log the data here
                                //debugger;
                                this.items = res.data;
                                
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            toastr.error("Failed to load data.");
                        })
                        .finally(() => {
                            this.loading = false;
                        });
                },
                mounted() {
                    this.getAll();
                },
            }
        }).mount('#app');
    </script>
}